.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
/* heading */
.portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(212, 194, 29), 1px 1px 1px rgb(15, 1, 1);
}

/* slider */
.portfolio .swiper {
    overflow: visible!important;
}
.mySwiper {
    margin-top:2rem;
}
.portfolio-slider .swiper-slide {
    width: 40rem;
    
}
.portfolio img {
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0,0.25));
    border-radius: 10px;
    
}
