.n-wrapper{
    overflow: hidden;
    height: 4rem;
    display: flex;
    justify-content:space-between;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgba(194, 192, 190, 0.42);
    
}
.n-left{
    flex: 0.5;
    align-items: center;
    display: flex;
    gap: 2rem;
    padding:0.5rem;
}
.n-name>img{
    width:60px;
    height:70px;
    margin:5px 2rem 0 2rem;
    border-radius: 100%;
}
.n-right{
    display: flex;
    flex:1;
    align-items: center;
    font-weight: 400;
    padding: 0.5rem;
}
.n-list{
    flex: 10;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    font-family: sans-serif;
}

li:hover{ 
    cursor: pointer;
    transform: scale(1.2);
}
.n-button{
    flex:1;
    margin-right: 3rem;
}

@media screen and (max-width: 1000px) {
    .n-list{
        display: none;
        
    }
    .n-button{
        display: none;
    }
}